body {
	color: #666;
}
.nav-tabs {
	margin-top: 20px;
}
h1 {
	font-size: 28px;
}
a {
	color: #333;
}
blockquote {
	font-size: 90%;
	margin-top: 20px;
}
.copy {
	height: 30px;
	width: 100%;
}
.alert {
	margin: 0px;
}
.panel-form {
	min-height: 320px;
}
.panel-command {
	min-height: 100px;
}
#command {
	font-size: 22px;
}
